---
- name: Check variables when ddns is used
  when: cluster_dns_server is defined
  block:
    - when: >-
        cluster_dns_zone is not defined
        or ddns_key_name is not defined
        or ddns_key_secret is not defined
      fail:
        msg: |
          All the following variables must be defined:
          - cluster_dns_zone
          - ddns_key_name
          - ddns_key_secret


- name: Check variables when route53 is used
  when: route53_aws_zone_id is defined
  block:
    - name: defensive programming, guess base_domain using route53_zone
      when: base_domain is not defined and route53_zone is defined
      set_fact:
        base_domain: >-
          {{ guid }}.{{ route53_zone | regex_replace('^' ~ guid ~ '\.', '') }}

    - name: defensive programming, guess base_domain using cluster_dns_zone
      when: base_domain is not defined and cluster_dns_zone is defined
      set_fact:
        base_domain: >-
          {{ guid }}.{{ cluster_dns_zone | regex_replace('^' ~ guid ~ '\.', '') }}

    - when: >-
        route53_aws_access_key_id is not defined
        or route53_aws_secret_access_key is not defined
        or base_domain is not defined
      fail:
        msg: |
          All the following variables must be defined:
          - route53_aws_access_key_id
          - route53_aws_secret_access_key
          - base_domain
