---
- name: Write kubeconfig if not exists and have api token and url
  when:
  - collect_openshift_must_gather_kubeconfig_path is not exists
  - collect_openshift_must_gather_api_token != ''
  - collect_openshift_must_gather_api_url != ''
  ansible.builtin.copy:
    dest: "{{ collect_openshift_must_gather_kubeconfig_path }}"
    content: |
      ---
      apiVersion: v1
      kind: Config
      clusters:
      - name: default
        cluster:
          server: {{ collect_openshift_must_gather_api_url | to_json }}
      {% if collect_openshift_must_gather_api_ca_cert | default('') != '' %}
          certificate-authority-data: {{ collect_openshift_must_gather_api_ca_cert | b64encode }}
      {% endif %}
      contexts:
      - name: default
        context:
          cluster: default
          namespace: default
          user: default
      current-context: default
      preferences: {}
      users:
      - name: default
        user:
          token: {{ collect_openshift_must_gather_api_token | to_json }}

- name: Run oc adm must-gather
  ansible.builtin.command: >-
    oc adm must-gather
    --dest-dir="{{ output_dir }}/oc-adm-must-gather"
    {% if collect_openshift_must_gather_kubeconfig_path is exists %}
    --kubeconfig={{ collect_openshift_must_gather_kubeconfig_path }}
    {% endif %}
  ignore_errors: true
...
