---
- name: Clone the git repo smart-aquaculture-rhsummit
  ansible.builtin.git:
    repo: "{{ ocp4_workload_lb2221_aqua_repourl }}"
    dest: "{{ ocp4_workload_lb2221_aqua_ansible_path }}"
    version: "{{ ocp4_workload_lb2221_aqua_reporef }}"

- name: Get ingress controler
  kubernetes.core.k8s_info:
    kind: IngressController
    name: default
    namespace: openshift-ingress-operator
  register: r_ingress

- name: Debug ingress controller
  ansible.builtin.debug:
    msg: "apps domain: {{ r_ingress.resources[0].status.domain }}"

- name: Install project requirements in venv
  become: true
  ansible.builtin.shell: |
    /opt/virtualenvs/k8s/bin/ansible-galaxy collection install \
    'community.general:==10.4.0' --force \
    -p /opt/virtualenvs/k8s/lib/python3.9/site-packages/ansible_collections/

# /opt/virtualenvs/k8s/bin/ansible-galaxy collection install 'community.general:==10.4.0'

- name: Run the deploy-all.yaml playbook
  ansible.builtin.shell: |
    /opt/virtualenvs/k8s/bin/ansible-playbook playbooks/deploy-all.yaml \
      -e OPENSHIFT_APPS_DOMAIN="{{ r_ingress.resources[0].status.domain }}" \
      -e WORKBENCH_COUNT={{ num_users }}
  args:
    chdir: "{{ ocp4_workload_lb2221_aqua_ansible_path }}"
