---
- name: Discover local external IP address
  ansible.builtin.uri:
    url: https://api.ipify.org?format=json
    status_code:
      - 200
  register: r_ip

- name: Get security groups
  amazon.aws.ec2_security_group_info:
    access_key: "{{ aws_access_key_id }}"
    secret_key: "{{ aws_secret_access_key }}"
    region: "{{ aws_region }}"
  register: r_ec2_security_group_info

- name: Allow SSH access to security groups
  loop: >-
    {{ r_ec2_security_group_info.security_groups }}
  loop_control:
    loop_var: __security_group
    label: "{{ __security_group.group_name }}"
  vars:
    __allow_ip: "{{ r_ip.json.ip }}"
  include_tasks:
    file: configure_security_group.yml
...
