- name: Evaluate {{ webapp_namespace }} namespace if not exists
  k8s:
    api_version: v1
    kind: Namespace
    name: '{{ webapp_namespace }}'
    state: present

- name: Check if IM credentials Secret exists
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: im-credentials
    namespace: webapp
  register: im_secret

- name: Load existing IM users from Secret if it exists
  set_fact:
    im_users: "{{ (im_secret.resources[0].data['im_credentials.json'] | b64decode | from_json) }}"
  when: im_secret.resources | length > 0

- name: Generate new IM users if Secret doesn't exist
  set_fact:
    im_users: >-
      {{
        im_users | default([]) + [{'name': 'user' + item | string, 'password': lookup('password', '/dev/null length=8 chars=ascii_letters,digits')}]
      }}
  loop: "{{ range(1, num_users | int + 1) | list }}"
  when: im_secret.resources | length == 0

- name: Create or update OpenShift secret with IM credentials
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: im-credentials
        namespace: webapp
      type: Opaque
      stringData:
        im_credentials.json: |
          {{ im_users | to_json(indent=2) }}
  when: im_secret.resources | length == 0 or im_users is not defined


- name: Display user credentials for verification
  debug:
    msg: "User: {{ item.name }}, Password: {{ item.password }}"
  loop: "{{ im_users }}"
  # when: ansible_verbosity >= 2  # Only show with -v or higher
