# ------------------------------
# DOCS
# ------------------------------

- name: Provision Solution Explorer
  include_tasks: provision_webapp.yaml
  vars:
    webapp_namespace: "webapp"
    snapshot_operator_project: "openshift-marketplace"

- name: Delete the previously executed Job
  kubernetes.core.k8s:
    state: absent
    api_version: batch/v1
    kind: Job
    name: camel-jbang-job
    namespace: webapp
  register: delete_job_result

- name: Provision Camel DocServer System
  k8s:
    state: present
    namespace: webapp
    resource_definition: "{{ lookup('template', 'camel-docserver.yaml.j2') }}"
  vars:
    webapp_namespace: webapp
