# ------------------------------
# DOCS
# ------------------------------

- name: Provision Solution Explorer
  include_tasks: provision_webapp.yaml
  vars:
    webapp_namespace: "webapp"
    snapshot_operator_project: "openshift-marketplace"


- name: Provision Event properties System
  k8s:
    namespace: "webapp"
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: event
      data:
        event.properties: >
          discord.default=https://discord.gg/4PyTjzjJJz

          # discord.event=https://discord-event.com

          # Token Cluster 1

          discord.default.token=PENDING_VALUE_DEFINITION

          # Token Cluster 2

          # discord.default.token=PENDING_VALUE_DEFINITION

          # Guild ID

          discord.default.guild=PENDING_VALUE_DEFINITION

- name: Deploy Camel DocServer System
  shell: |
    {{cli_camel}} kubernetes run {{cli_camel_routes}}/docs.camel.yaml \
    --name docserver \
    --namespace=webapp \
    --cluster-type=openshift \
    --trait route.enabled=true \
    --trait route.tls-termination=edge \
    --config configmap:event \
    --resource secret:im-credentials
  register: debug_deploy_docserver


- name: Debug Deploy DocServer
  debug:
    msg: "{{ debug_deploy_docserver }}"