---
- name: Display user credentials for verification 1
  debug:
    msg: "User: {{ item.name }}, Password: {{ item.password }}"
  loop: "{{ im_users }}"
  # when: ansible_verbosity >= 2  # Only show with -v or higher

- name: Get Matrix user credentials
  uri:
    url: "https://synapse-matrix.{{ route_subdomain }}/_matrix/client/r0/login"
    method: POST
    body_format: json
    body:
      type: "m.login.password"
      user: "{{ item.name }}"
      password: "{{ item.password }}"
    status_code: 200  # Adjust based on your API
    return_content: true
  register: matrix_creds
  loop: "{{ im_users }}"

# - name: Display Matrix credentials
#   debug:
#     msg: "response: {{ item.json }}"
#   loop: "{{ matrix_creds.results }}"

- name: Get Matrix user room IDs
  uri:
    url: "https://synapse-matrix.{{ route_subdomain }}/_matrix/client/v3/directory/room/%23room{{idx+1}}%3Arhintegration.demo"
    method: GET
    body_format: json
    status_code: 200  # Adjust based on your API
    return_content: true
  register: matrix_rooms
  loop: "{{ im_users }}"
  loop_control:
    index_var: idx

# - name: Display Matrix rooms
#   debug:
#     msg: "response: {{ item.json }}"
#   loop: "{{ matrix_rooms.results }}"

# - name: Display Pre-Merge
#   debug:
#     msg: "item0: {{ item.0.json }} and item1: {{ item.1.json }}"
#   loop: "{{ matrix_creds.results | zip(matrix_rooms.results) | list }}"

- name: Merge Matrix users and rooms
  set_fact:
    matrix_users_with_rooms: >-
      {{ matrix_users_with_rooms | default([]) + [{'name': item.0.item.name, 'token': item.0.json.access_token}
      | combine({'roomid': item.1.json.room_id})] }}
  loop: "{{ matrix_creds.results | zip(matrix_rooms.results) | list }}"

# - name: Debug merged variable
#   debug:
#     var: matrix_users_with_rooms

- name: Create Secret for Matrix
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: im-credentials
        namespace: "webapp"
      type: Opaque
      stringData:
        matrix.json: |
          {{ matrix_users_with_rooms | to_json(indent=2) }}


- name: Get RocketChat user credentials
  uri:
    url: "https://rocketchat-rocketchat.{{ route_subdomain }}/api/v1/login"
    method: POST
    body_format: json
    body:
      user: "{{ item.name }}"
      password: "{{ item.password }}"
    status_code: 200  # Adjust based on your API
    return_content: true
  register: rc_api_response
  loop: "{{ im_users }}"

# - name: Display RC credentials
#   debug:
#     msg: "response: {{ item.json.data }}"
#   loop: "{{ rc_api_response.results }}"

- name: Create im_users_with_tokens with filtered fields
  set_fact:
    im_users_with_tokens: >-
      {{ im_users_with_tokens
      | default([]) + [{'name': item.json.data.me.name, 'userid': item.json.data.userId, 'token': item.json.data.authToken}] }}
  loop: "{{ rc_api_response.results }}"
  when: rc_api_response.results is defined

# - name: Display user credentials for verification 2
#   debug:
#     msg: "User: {{ item.userid }}, Password: {{ item.token }}"
#   loop: "{{ im_users_with_tokens }}"

- name: Create Secret for RocketChat
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: im-credentials
        namespace: "webapp"
      type: Opaque
      stringData:
        rocketchat.json: |
          {{ im_users_with_tokens | to_json(indent=2) }}


- name: Get ODF Admin access key
  shell:
    cmd: >
      oc get secret noobaa-admin -n openshift-storage
      --template={{ '{{' }}.data.AWS_ACCESS_KEY_ID{{ '}}' }} | base64 -d
  register: odf_admin_access_key

- name: Get ODF Admin secret key
  shell:
    cmd: >
      oc get secret noobaa-admin -n openshift-storage
      --template={{ '{{' }}.data.AWS_SECRET_ACCESS_KEY{{ '}}' }} | base64 -d
  register: odf_admin_secret_key

- name: Build the JSON payload as a dict
  set_fact:
    s3_creds:
      accessKey: "{{ odf_admin_access_key.stdout }}"
      secretKey: "{{ odf_admin_secret_key.stdout }}"

- name: Create S3 credentials secret for IM system
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: im-credentials
        namespace: "webapp"
      type: Opaque
      stringData:
        s3.json: "{{ s3_creds | to_json(indent=2) }}"

    # Not working, not sure why
    #   s3.json: |
    #     {
    #       "accessKey": "{{ odf_admin_access_key.stdout }}",
    #       "secretKey": "{{ odf_admin_secret_key.stdout }}"
    #     }