---
- name: Load IM credentials
  include_tasks: load_im_credentials.yaml
  vars:
    webapp_namespace: "webapp"

- name: Provision OpenShift DevSpaces
  include_tasks: provision_devspaces.yaml
  vars:
    operators_project: "openshift-operators"
    snapshot_operator_project: "openshift-marketplace"
    che_project: "devspaces"

- name: Provision users workload
  ansible.builtin.include_tasks: provision_users_workload.yaml
  vars:
    che_project: "devspaces"

- name: Provision Streams and workload
  ansible.builtin.include_tasks: provision_streams.yaml
  vars:
    operators_project: "openshift-operators"
    snapshot_operator_project: "openshift-marketplace"

- name: Provision filestash S3 viewer
  include_tasks: provision_filestash.yaml

- name: Provision Matrix Synapse Homeserver
  include_tasks: provision_im_matrix_synapse.yaml
  vars:
    matrix_synapse_namespace: "matrix"

- name: Provision Matrix Element Web
  k8s:
    state: present
    resource_definition: "{{ lookup('template', 'im_matrix_element_web.yaml.j2') }}"
  vars:
    matrix_synapse_namespace: "matrix"

# Needs to be provisioned after DevSpaces to configure webhooks
- name: Provision Rocket Chat
  include_tasks: provision_im_rocketchat.yaml
  vars:
    rocketchat_namespace: "rocketchat"

- name: Provision IM credentials
  include_tasks: provision_im_credentials.yaml

- name: Install Camel CLI
  include_tasks: install_camel_cli.yaml

- name: Evaluate Docs
  include_tasks: main_docs.yaml
