---
- name: Install PostgreSQL database
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', resource) }}"
  loop:
  - namespace.yaml.j2
  - rolebinding.yaml.j2
  - service_database.yaml.j2
  - secret_database.yaml.j2
  - serviceaccount_database.yaml.j2
  - pvc_database.yaml.j2
  - deployment_database.yaml.j2
  loop_control:
    loop_var: resource

- name: Restart mta-hub deployment
  when: ocp4_workload_mta7_workshop_restart_hub | bool
  block:
  - name: Wait for mta-hub deployment to exist and become available
    ansible.builtin.command: >-
      oc wait deployment/mta-hub -n mta --for=condition=Available --timeout=1s
    register: wait_deploy
    until: wait_deploy.rc == 0
    retries: 30
    delay: 10
    changed_when: false
  - name: oc rollout restart deployment mta-hub -n mta
    ansible.builtin.command: >-
      oc rollout restart deployment mta-hub -n mta
    register: result
    changed_when: false
  - name: print result.stdout_lines
    ansible.builtin.debug:
      var: result.stdout_lines

# -----------------------------------------------------------------------------
# Leave this as the last task in the playbook.
- name: Workload tasks complete
  when: not silent|bool
  ansible.builtin.debug:
    msg: "Workload Tasks completed successfully."
