---
- name: Create services for container "{{ _container.name }}"
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: "{{ service.name }}"
        namespace: "{{ openshift_cnv_namespace }}"
      spec: "{{ spec | from_yaml }}"
  vars:
    spec: |
        ports:
          {{ service.ports }}
        selector:
          app.kubernetes.io/name: "{{ _container.name }}"
        type: {{ service.type | default('ClusterIP') }}
  register: r_service
  until: r_service is success
  retries: "{{ openshift_cnv_retries }}"
  delay: "{{ openshift_cnv_delay }}"
