---
- name: Create Container "{{ _container.name }}"
  vars:
    _spec: |
      restartPolicy: Always
      securityContext: {}
      volumes: {{ _container.volumes | default([]) }}
      containers:
        - resources:
            limits:
              cpu: "{{ _container.cpu | default(1) }}"
              memory: "{{ _container.memory | default("32Mi") }}"
            requests:
              cpu: "{{ _container.cpu | default(1) }}"
              memory: "{{ _container.memory | default("32Mi") }}"
          env: {{ _container.environment | dict2items(key_name='name', value_name='value') }}
          name: "{{ _container.name }}"
          ports: {{ _container.ports }}
          lifecycle: {{ _container.lifecycle | default({}) }}
          imagePullPolicy: Always
          image: "{{ _container.image }}"
          command: {{ _container.command | default('') }}
          args: {{ _container.args  | default('') }}
          volumeMounts: {{ _container.volumeMounts | default([]) }}
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Pod
      metadata:
        name: "{{ _container.name }}"
        namespace: "{{ openshift_cnv_namespace }}"
        labels:
          app.kubernetes.io/name: "{{ _container.name }}"
      spec: "{{ _spec | from_yaml }}"
  register: r_openshift_cnv_container
  until: r_openshift_cnv_container is success
  retries: "{{ openshift_cnv_retries }}"
  delay: "{{ openshift_cnv_delay }}"

- name: wait till container is running
  kubernetes.core.k8s_info:
    api_version: v1
    kind: pod
    name: "{{ _container.name }}"
    namespace: "{{ openshift_cnv_namespace }}"
  register: r_container_status
  until: r_container_status.resources[0].status.phase | default('') == "Running"
  retries: 30
  delay: 10

- name: Run command(s) inside the recently created container
  kubernetes.core.k8s_exec:
    pod: "{{ _container.name }}"
    namespace: "{{ openshift_cnv_namespace }}"
    command: "{{ command }}"
  loop: "{{ _container.commands | default([]) }}"
  loop_control:
    loop_var: command
  register: r_k8s_exec
  until: r_k8s_exec is success
  retries: 6
  delay: 10

- name: Create services for the container
  ansible.builtin.include_tasks: create_services_container.yaml

- name: Create routes for the container
  ansible.builtin.include_tasks: create_routes_container.yaml
