---
- name: Create a SSH (or defined one) service for internal connections for node {{ _instance.name }}
  vars:
    _instance_name: "{{ _instance.name }}{{ _index+1 if _instance.count|d(1)|int > 1 }}"
    _definition: |
      apiVersion: v1
      kind: Service
      metadata:
        name: "{{ _instance_name }}"
        namespace: "{{ openshift_cnv_namespace }}"
      spec:
        clusterIP: None
        ports:
        - port: {{ _instance.servicePort | default(22) |int}}
          protocol: TCP
          targetPort: {{ _instance.servicePort | default(22)|int }}
        selector:
          vm.cnv.io/name: "{{ _instance_name }}"

  kubernetes.core.k8s:
    definition: "{{ _definition }}"
  loop: "{{ range(1, _instance.count|default(1)|int+1) | list }}"
  loop_control:
    index_var: _index
  register: r_service
  until: r_service is success
  retries: "{{ openshift_cnv_retries }}"
  delay: "{{ openshift_cnv_delay }}"

- name: Create a service for subdomain lab
  vars:
    _definition: |
      apiVersion: v1
      kind: Service
      metadata:
        name: "lab"
        namespace: "{{ openshift_cnv_namespace }}"
      spec:
        clusterIP: None
        ipFamilies:
          - IPv4
        ports:
          - name: foo
            protocol: TCP
            port: 1234
            targetPort: 1234
        selector:
          kubevirt.io: virt-launcher
  kubernetes.core.k8s:
    definition: "{{ _definition }}"
  register: r_service_lab
  until: r_service_lab is success
  retries: "{{ openshift_cnv_retries }}"
  delay: "{{ openshift_cnv_delay }}"
  when: "{{ openshift_cnv_add_lab_subdomain | default(True) }}"


- name: Create services for the instances
  loop: "{{ _instance.services|default([]) }}"
  loop_control:
    loop_var: service
  ansible.builtin.include_tasks: create_service.yaml
