---

- name: Step 002 Post Infrastructure
  hosts: localhost
  connection: local
  become: false
  gather_facts: false
  tags:
    - step002
    - post_infrastructure

  tasks:

    - name: "Step 002 Post Infrastructure"
      ansible.builtin.debug:
        msg: "Step 000 Post Infrastructure"

- name: Step 002 Post Infrastructure regreSSHion Hotfix
  hosts: all:!windows:!network
  become: true
  tags:
    - regresshion_hotfix

  tasks:
    - name: Have facts been gathered?
      when: ansible_facts['ansible_distribution'] is not defined
      ansible.builtin.setup:
        gather_subset:
          - '!all'
          - '!min'
          - 'distribution'

    - name: Fix regreSSHion when RHEL 9 only
      when:
        - ansible_distribution == 'RedHat'
        - ansible_distribution_major_version == '9'
      block:

        - name: Set sshd LoginGraceTime to 0 in /etc/ssh/sshd_config
          ansible.builtin.lineinfile:
            path: /etc/ssh/sshd_config
            regexp: '.*LoginGraceTime.*'
            line: 'LoginGraceTime 0'

        - name: Restart SSH service for regreSSHion fix
          ansible.builtin.service:
            name: sshd
            state: restarted

    - name: Write external IP to ansible user home directory (CNV)
      when:
        - cloud_provider == "openshift_cnv"
        - hostvars[inventory_hostname]['external_ip'] is defined
        - hostvars[inventory_hostname]['external_ip'] != ""
      ansible.builtin.copy:
        content: "{{ hostvars[inventory_hostname]['external_ip'] }}"
        dest: "~{{ ansible_user }}/external_ip"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0644'
