---
- name: Get floating ip for instance
  ibm.cloudcollection.ibm_is_floating_ips_info:
    name: "{{ instance_name_with_guid }}-fip"
    resource_group: "{{ r_ibmcloud_resource_group_id }}"
    region: "{{ ibmcloud_region }}"
  register: r_ibmcloud_floating_ips

- name: Create inventory (add_host)
  vars:
    instance_tags: "{{ instance.tags | equinix_metal_tags_to_dict(':') }}"
  ansible.builtin.add_host:
    name: "{{ instance_tags.ansiblename | default(instance.name) }}"
    shortname: "{{ instance_tags.ansiblename | default(instance.name) }}"
    ansible_user: "{{ remote_user }}"
    ansible_ssh_host: "{{ instance_tags.ansiblename | default(instance.name) }}"
    isolated: "{{ instance_tags.isolated | default(false) }}"
    ssh_port: "22"
    private_ip_address: "{{ instance.primary_network_interface[0].primary_ip[0].address }}"
    public_ip_address: "{{ r_ibmcloud_floating_ips.resource.floating_ips[0]['address'] }}"
    groups: "{{ instance_tags.ansiblegroup | default(omit) }}"
    bastion: "{{ local_bastion | default('bastion') }}"
    bastion_ssh_port: "22"
  when: instance.annotations.managed | default(true) | bool
