---
- name: Set fact for Hypervisor public ip
  ansible.builtin.set_fact:
    hypervisor_public_ip: "{{ ansible_default_ipv4.address }}"

- name: Print user info
  agnosticd_user_info:
    msg: "{{ item }}"
  loop:
    - "Access to the LAB environment:"
    - ""
    - ""
    - "User: {{ bastion_ssh_user_name }}"
    - "Password: {{ strong_lab_password }}"
    - ""
    - "Lab WebAPP: https://{{ bastion_public_hostname }}/content/"
    - ""
  when: platform_demo_redhat_com

- name: Save user data
  agnosticd_user_info:
    data:
      lab_webapp_url: "https://{{ bastion_public_hostname }}/content/"
      lab_webapp_user: "{{ bastion_ssh_user_name }}"
      lab_webapp_password: "{{ strong_lab_password }}"
      debug_hypervisor_ip: "{{ hypervisor_public_ip }}"
      debug_hypervisor_ssh_user: "{{ bastion_ssh_user_name }}"
      debug_hypervisor_ssh_password: "{{ student_password }}"
  when: platform_demo_redhat_com

# Leave this as the last task in the playbook.
- name: post_workload tasks complete
  debug:
    msg: "Post-Workload Tasks completed successfully."
  when: not silent|bool
