---
- name: Setup ODF
  when:
  - ocp4_workload_trusted_application_pipeline_odf_tolerations is defined
  - ocp4_workload_trusted_application_pipeline_odf_tolerations | length > 0
  block:
  - name: Apply toleration
    kubernetes.core.k8s_json_patch:
      api_version: "{{ item.api_version }}"
      kind: "{{ item.kind }}"
      name: "{{ item.name }}"
      namespace: "{{ item.namespace }}"
      patch: "{{ toleration_patch }}"
    loop: "{{ ocp4_workload_trusted_application_pipeline_odf_tolerations }}"
    vars:
      toleration_patch: |
        [
        {% for toleration in item.tolerations %}
          {
            "op": "add",
            "path": "/spec/template/spec/tolerations/-",
            "value": {
              "key": "{{ toleration.key }}",
              "operator": "{{ toleration.operator }}",
              "effect": "{{ toleration.effect }}"
            }
          }
        {% endfor %}
        ]