---
- name: Set up VMs for a single admin user
  when: ocp4_workload_virt_roadshow_vms_num_users | default("1") | int == 1
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', resource | from_yaml) }}"
  loop:
  - single_user/namespace.yaml.j2
  - single_user/vm_database.yaml.j2
  - single_user/vm_winweb01.yaml.j2
  - single_user/vm_winweb02.yaml.j2
  loop_control:
    loop_var: resource

- name: Set up services and routes for admin user
  when:
  - ocp4_workload_virt_roadshow_vms_num_users | default("1") | int == 1
  - ocp4_workload_virt_roadshow_vms_imported_configure_svc_and_route | default(true)
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', resource | from_yaml) }}"
  loop:
  - single_user/service_database.yaml.j2
  - single_user/service_webapp.yaml.j2
  - single_user/route_webapp.yaml.j2
  loop_control:
    loop_var: resource

- name: Set up VMs for a multiple users
  when: ocp4_workload_virt_roadshow_vms_num_users | default("1") | int > 1
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', resource | from_yaml) }}"
  loop:
  - multi_user/namespace.yaml.j2
  - multi_user/rolebinding.yaml.j2
  - multi_user/vm_database.yaml.j2
  - multi_user/vm_winweb01.yaml.j2
  - multi_user/vm_winweb02.yaml.j2
  loop_control:
    loop_var: resource

- name: Set up services and routes for multiple users
  when:
  - ocp4_workload_virt_roadshow_vms_num_users | default("1") | int > 1
  - ocp4_workload_virt_roadshow_vms_imported_configure_svc_and_route | default(true)
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', resource | from_yaml) }}"
  loop:
  - multi_user/service_database.yaml.j2
  - multi_user/service_webapp.yaml.j2
  - multi_user/route_webapp.yaml.j2
  loop_control:
    loop_var: resource

- name: Update project request template so all new projects get the node selector
  when:
  - ocp4_workload_virt_roadshow_vms_project_request_template | default(false) | bool
  block:

  - name: Create a default project-request-template with the node selector
    kubernetes.core.k8s:
      state: present
      definition: "{{ lookup('template', 'project-request-template.yaml.j2') | from_yaml_all }}"

  - name: Add the template to the project request
    kubernetes.core.k8s:
      state: patched
      kind: Project
      api_version: config.openshift.io/v1
      name: cluster
      definition:
        spec:
          projectRequestTemplate:
            name: project-request

    # oc edit project.config.openshift.io/cluster
    #spec:
    # projectRequestTemplate:
    #   name: project-request
# Leave this as the last task in the playbook.
- name: Workload tasks complete
  when: not silent|bool
  ansible.builtin.debug:
    msg: "Workload Tasks completed successfully."
