---
- name: Import default destroy playbook
  import_playbook: ../../cloud_providers/{{cloud_provider}}_destroy_env.yml

- name: Cleanup
  hosts: localhost
  connection: local
  become: false
  tasks:
  - name: Remove Showroom
    when: showroom_deploy_shared_cluster_enable | default(false) | bool
    vars:
      ACTION: "destroy"
    ansible.builtin.include_role:
      name: ocp4_workload_showroom

  - name: Invoke roles to remove ocp workloads
    ansible.builtin.include_role:
      name: "{{ workload_loop_var }}"
    vars:
      ocp_username: "system:admin"
      ACTION: "remove"
      silent: false
    loop: "{{ remove_workloads | default([], true) }}"
    loop_control:
      loop_var: workload_loop_var
