---
- name: Delete entity
  when: _entity.kind == "Component"
  block:
  - name: Extract Kubernetes ID
    set_fact:
      _k8s_id: "{{ _entity.metadata.name }}"

  - name: Compute ArgoCD Application name
    set_fact:
      _argocd_app_name: "{{ _k8s_id }}-app-of-apps"

  - name: Delete ArgoCD Application app of apps
    kubernetes.core.k8s:
      state: absent
      kind: Application
      api_version: argoproj.io/v1alpha1
      name: "{{ _k8s_id }}-app-of-apps"
      namespace: tssc-gitops

  - name: Extract repository URL and remove 'url:'
    set_fact:
      _repo_url: "{{ _entity.metadata.annotations['backstage.io/source-location'] | regex_replace('^url:', '') }}"

  - name: Extract base GitLab URL
    set_fact:
      _gitlab_base_url: "{{ _repo_url | regex_replace('^(https?://[^/]+).*', '\\1') }}"

  - name: Extract project path for API
    set_fact:
      _project_path: "{{ _repo_url | regex_replace('^https?://[^/]+/', '') | replace('/', '%2F') }}"

  - name: Get project details from GitLab API
    uri:
      url: "{{ _gitlab_base_url }}/api/v4/projects/{{ _project_path }}"
      method: GET
      headers:
        PRIVATE-TOKEN: "{{ _gitlab_root_token }}"
      return_content: yes
      status_code: 200
    register: _gitlab_project
    ignore_errors: true

  - name: Delete main repository
    uri:
      url: "{{ _gitlab_base_url }}/api/v4/projects/{{ _gitlab_project.json.id  }}"
      method: DELETE
      headers:
        PRIVATE-TOKEN: "{{ _gitlab_root_token }}"
      status_code: 202
    ignore_errors: true

  - name: Get project details '-gitops' from GitLab API
    uri:
      url: "{{ _gitlab_base_url }}/api/v4/projects/{{ _project_path }}-gitops"
      method: GET
      headers:
        PRIVATE-TOKEN: "{{ _gitlab_root_token }}"
      return_content: yes
      status_code: 200
    register: _gitlab_project
    ignore_errors: true

  - name: Delete gitops repository
    uri:
      url: "{{ _gitlab_base_url }}/api/v4/projects/{{ _gitlab_project.json.id  }}"
      method: DELETE
      headers:
        PRIVATE-TOKEN: "{{ _gitlab_root_token }}"
      status_code: 202
    ignore_errors: true

- name: Delete Backstage entity
  uri:
    url: "{{ _rhdh_url }}/api/catalog/entities/by-uid/{{ _entity.metadata.uid }}"
    method: DELETE
    headers:
      Content-Type: "application/json"
    status_code: 204