---
- name: Get OpenShift token without touching kubeconfig
  command: >
    oc login {{ openshift_api_url if 'https' in openshift_api_url else 'https' + openshift_api_url + ':6443' }}
    -u {{ lookup('agnosticd_user_data', 'openshift_cluster_admin_username') }}
    -p {{ lookup('agnosticd_user_data', 'openshift_cluster_admin_password') }}
    --insecure-skip-tls-verify
    --kubeconfig=/tmp/kubeconfig-demo
  register: oc_token
  retries: 10
  delay: 30
  until: oc_token.rc == 0

- name: Remove X-Frame-Options header from default ingresscontroller
  kubernetes.core.k8s:
    api_version: operator.openshift.io/v1
    kind: IngressController
    name: default
    namespace: openshift-ingress-operator
    merge_type: merge
    definition:
      spec:
        httpHeaders:
          actions:
            response:
            - action:
                type: Delete
              name: X-Frame-Options
            - action:
                type: Delete
              name: Content-Security-Policy
            - action:
                type: Delete
              name: referrer-policy

- name: Get service-ca.crt from v4-0-config-system-service-ca ConfigMap
  kubernetes.core.k8s_info:
    api_version: v1
    kind: ConfigMap
    name: v4-0-config-system-service-ca
    namespace: openshift-authentication
  register: service_ca_cm

- name: Extract service-ca.crt content
  set_fact:
    service_ca_crt: "{{ service_ca_cm.resources[0].data['service-ca.crt'] }}"

- name: Get oauth URL
  kubernetes.core.k8s_info:
    api_version: route.openshift.io/v1
    kind: Route
    name: oauth-openshift
    namespace: openshift-authentication
  register: oauth_route

- name: Add oauth-openshift route to use reencrypt and service-ca.crt
  kubernetes.core.k8s:
    api_version: route.openshift.io/v1
    kind: Route
    name: oauth-openshift-new
    namespace: openshift-authentication
    definition:
      spec:
        host: "{{ oauth_route.resources[0].spec.host }}"
        tls:
          termination: reencrypt
          destinationCACertificate: "{{ service_ca_crt }}"
        to:
          kind: Service
          name: oauth-openshift
          weight: 100
        port:
          targetPort: 6443
        wildcardPolicy: None

- name: Delete original oauth-openshift route
  kubernetes.core.k8s:
    api_version: route.openshift.io/v1
    kind: Route
    name: oauth-openshift
    namespace: openshift-authentication
    state: absent

- name: Get Console URL
  kubernetes.core.k8s_info:
    api_version: route.openshift.io/v1
    kind: Route
    name: console
    namespace: openshift-console
  register: console_route

- name: Wait for X-Frame-Options header to be removed from Console
  ansible.builtin.uri:
    url: "https://{{ console_route.resources[0].spec.host }}"
    validate_certs: false
    return_content: false
  register: console_response
  retries: 10
  delay: 30
  until: "'x_frame_options' not in console_response"
