---
- name: Get subnet ID for first ROSA cluster
  amazon.aws.ec2_vpc_subnet_info:
    filters:
      cidr-block: "{{ ocp4_workload_lb2739_first_rosa_cidr | replace('/16', '/18') }}"
  register: r_subnet_rosa1

- name: Get subnet ID for second ROSA cluster
  amazon.aws.ec2_vpc_subnet_info:
    filters:
      cidr-block: "{{ ocp4_workload_lb2739_second_rosa_cidr | replace('/16', '/18') }}"
  register: r_subnet_rosa2

- name: Get VPC ID for first ROSA cluster
  amazon.aws.ec2_vpc_subnet_info:
    filters:
      cidr-block: "{{ ocp4_workload_lb2739_first_rosa_cidr | regex_replace('/16', '/18') }}"
  register: r_vpc_rosa1

- name: Get VPC ID for second ROSA cluster
  amazon.aws.ec2_vpc_subnet_info:
    filters:
      cidr-block: "{{ ocp4_workload_lb2739_second_rosa_cidr | regex_replace('/16', '/18') }}"
  register: r_vpc_rosa2

- name: Set facts
  ansible.builtin.set_fact:
    subnet_id_rosa1: "{{ r_subnet_rosa1.subnets[0].subnet_id }}"
    subnet_id_rosa2: "{{ r_subnet_rosa2.subnets[0].subnet_id }}"
    vpc_id_rosa1: "{{ r_vpc_rosa1.subnets[0].vpc_id }}"
    vpc_id_rosa2: "{{ r_vpc_rosa2.subnets[0].vpc_id }}"

- name: Print Subnet and VPC IDs
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop:
  - "Rosa 1 Subnet ID: {{ subnet_id_rosa1 }}, VPC ID: {{ vpc_id_rosa1 }}"
  - "Rosa 2 Subnet ID: {{ subnet_id_rosa2 }}, VPC ID: {{ vpc_id_rosa2 }}"

- name: Create first FSx ONTAP stack
  amazon.aws.cloudformation:
    stack_name: "{{ ocp4_workload_lb2739_fsx_name1 }}"
    region: "{{ aws_region }}"
    template_body: "{{ lookup('ansible.builtin.file', 'FSxONTAP.yml') }}"
    disable_rollback: true
    capabilities: CAPABILITY_NAMED_IAM
    template_parameters:
      Subnet1ID: "{{ subnet_id_rosa1 }}"
      myVpc: "{{ vpc_id_rosa1 }}"
      FileSystemName: "{{ ocp4_workload_lb2739_fsx_name1 }}"
      ThroughputCapacity: 512
      FSxAllowedCIDR: "{{ ocp4_workload_lb2739_first_rosa_cidr }}"
      FsxAdminPassword: "{{ ocp4_workload_lb2739_fsx_admin_password }}"
      SvmAdminPassword: "{{ ocp4_workload_lb2739_svm_admin_password }}"
      TridentIAMPolicyName: "{{ ocp4_workload_lb2739_policy_name1 }}"
  register: r_cloudformation_rosa1

- name: Create second FSx ONTAP stack
  amazon.aws.cloudformation:
    stack_name: "{{ ocp4_workload_lb2739_fsx_name2 }}"
    region: "{{ aws_region }}"
    template_body: "{{ lookup('ansible.builtin.file', 'FSxONTAP.yml') }}"
    disable_rollback: true
    capabilities: CAPABILITY_NAMED_IAM
    template_parameters:
      Subnet1ID: "{{ subnet_id_rosa2 }}"
      myVpc: "{{ vpc_id_rosa2 }}"
      FileSystemName: "{{ ocp4_workload_lb2739_fsx_name2 }}"
      ThroughputCapacity: 512
      FSxAllowedCIDR: "{{ ocp4_workload_lb2739_second_rosa_cidr }}"
      FsxAdminPassword: "{{ ocp4_workload_lb2739_fsx_admin_password }}"
      SvmAdminPassword: "{{ ocp4_workload_lb2739_svm_admin_password }}"
      TridentIAMPolicyName: "{{ ocp4_workload_lb2739_policy_name2 }}"
  register: r_cloudformation_rosa2
