- name: Step 002 Post Infrastructure Started
  hosts: localhost
  connection: local
  become: false
  gather_facts: false
  tags:
    - step002
  tasks:
    - ansible.builtin.debug:
        msg: "Step 002 Post Infrastructure Started"

- name: Step 002 Post Infrastructure regreSSHion Hotfix
  hosts: all:!windows:!network
  become: true
  tags:
    - regresshion_hotfix
  tasks:
    - name: Have facts been gathered?
      when: ansible_facts['ansible_distribution'] is not defined
      ansible.builtin.setup:
        gather_subset:
          - '!all'
          - '!min'
          - 'distribution'

    - name: Fix regreSSHion when RHEL 9 only
      when:
        - ansible_distribution == 'RedHat'
        - ansible_distribution_major_version == '9'
      block:
        - name: Set sshd LoginGraceTime to 0 in /etc/ssh/sshd_config
          ansible.builtin.lineinfile:
            path: /etc/ssh/sshd_config
            regexp: '.*LoginGraceTime.*'
            line: 'LoginGraceTime 0'

        - name: Restart SSH service for regreSSHion fix
          ansible.builtin.service:
            name: sshd
            state: restarted

# ----------------------------------------------------------------------
# Post-infra Workloads as role
# ----------------------------------------------------------------------
- name: Import Post-infra workloads
  ansible.builtin.import_playbook: workloads.yml
  vars:
    _workload_title_: "Post Infra"
    _workloads_: "{{ post_infra_workloads | default([]) }}"


- name: Step 002 Post Infrastructure Finshed
  hosts: localhost
  connection: local
  become: false
  gather_facts: false
  tags:
    - step002
  tasks:
    - ansible.builtin.debug:
        msg: "Step 002 Post Infrastructure Finished"
