---
- name: install devspaces operator
  ansible.builtin.include_role:
    name: install_operator
  vars:
    install_operator_name: devspaces
    install_operator_namespace: "{{ ocp4_workload_openshift_devspaces_namespace }}"
    install_operator_csv_nameprefix: devspacesoperator
    install_operator_channel: "{{ ocp4_workload_openshift_devspaces_channel }}"
    install_operator_starting_csv: "{{ ocp4_workload_openshift_devspaces_startingcsv }}"
    install_operator_catalogsource_setup: "{{ ocp4_workload_openshift_devspaces_catalogsource_setup }}"
    install_operator_catalogsource_name: "{{ ocp4_workload_openshift_devspaces_catalogsource_name }}"
    install_operator_catalogsource_image: "{{ ocp4_workload_openshift_devspaces_catalogsource_image }}"
    install_operator_catalogsource_image_tag: "{{ ocp4_workload_openshift_devspaces_catalogsource_tag }}"

- name: create checluster
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'checluster.yml.j2') | from_yaml }}"