---
- name: Remove workloads
  hosts: localhost
  connection: local
  gather_facts: false
  run_once: true
  become: false
  tasks:
    - name: Remove workloads
      when: remove_workloads | default([]) | length > 0
      ansible.builtin.include_role:
        name: "{{ workload_loop_var }}"
      vars:
        ACTION: "remove"
      loop: "{{ remove_workloads | default([], true) }}"
      loop_control:
        loop_var: workload_loop_var

- name: Import default destroy playbook
  import_playbook: ../../cloud_providers/{{ cloud_provider }}_destroy_env.yml
