---
- name: Create users
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/admin/realms/chicken/users
    method: POST
    validate_certs: false
    body_format: json
    headers:
      Authorization: Bearer {{ _keycloak_access_token }}
    body:
      username: "{{ username }}"
      enabled: true
      firstName: "{{ username }}"
      lastName: TSSC
      email: "{{ username }}@demo.redhat.com"
      emailVerified: true
    status_code: 201

- name: Get user {{ username }}
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/admin/realms/chicken/users?username={{ username }}
    method: GET
    validate_certs: false
    headers:
      Authorization: Bearer {{ _keycloak_access_token }}
  register: r_keycloak_user

- name: Set password for user {{ username }}
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/admin/realms/chicken/users/{{
      r_keycloak_user.json[0].id }}/reset-password
    method: PUT
    validate_certs: false
    body_format: json
    headers:
      Authorization: Bearer {{ _keycloak_access_token }}
    body:
      type: password
      temporary: false
      value: "{{ password }}"
    status_code: 204