---
- name: Get Realm Management role
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/admin/realms/trusted-artifact-signer/clients/{{
      _dh_rm_client_id }}/roles/{{ _role }}
    method: GET
    validate_certs: false
    headers:
      Authorization: Bearer {{ _keycloak_access_token }}
  register: r_rm_client_role

- name: Import role to service account
  uri:
    url: https://sso.{{ _ocp_apps_domain }}/admin/realms/trusted-artifact-signer/users/{{
      _dh_rhdh_sa_id }}/role-mappings/clients/{{ _dh_rm_client_id }}
    method: POST
    validate_certs: false
    body_format: json
    headers:
      Authorization: Bearer {{ _keycloak_access_token }}
    body: ["{{ r_rm_client_role.json }}"]
    status_code: 204