---
- name: Get Quay database pod and ensure it's running
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Pod
    namespace: "{{ ocp4_workload_advanced_developer_suite_quay_namespace }}"
    label_selectors:
    - quay-component = postgres
  register: r_quay_database_pod
  retries: 40
  delay: 5
  until:
  - r_quay_database_pod.resources is defined
  - r_quay_database_pod.resources | length == 1
  - r_quay_database_pod.resources[0].status is defined
  - r_quay_database_pod.resources[0].status.phase is defined
  - r_quay_database_pod.resources[0].status.phase == "Running"

- name: Extend Quay token expiration (using shell)
  ansible.builtin.shell: |
    oc exec {{ r_quay_database_pod.resources[0].metadata.name }} -n {{
    ocp4_workload_advanced_developer_suite_quay_namespace }} -- psql -d {{
    ocp4_workload_advanced_developer_suite_quay_namespace }}-quay-database -c \
    "update public.oauthaccesstoken set expires_at = '2300-12-31 00:00:00' where id = 1;"
  register: _r_ext_quay_token_exp
  until: _r_ext_quay_token_exp.rc == 0
  retries: 5
  delay: 30