---
- name: Configure orchestrator
  when: ocp4_workload_advanced_developer_suite_dh_orchestrator_enabled
  block:
  - name: Create dynamic plugins npmrc secret
    kubernetes.core.k8s:
      state: present
      definition: "{{ lookup('template', 'secret-dynamic-plugins-npmrc.yml.j2') | from_yaml }}"

  - name: Update dh app config with orchestrator config
    set_fact:
      _dh_app_config: >-
        {{ _dh_app_config | combine(
          {
            'auth': {
              'externalAccess': [
                {
                  'type': 'static',
                  'options': {
                    'token': '${BACKEND_SECRET}',
                    'subject': 'orchestrator'
                  }
                }
              ]
            }
          }, recursive=True)
        }}