---
- name: Prepare keycloak provider vars
  set_fact:
    _dh_auth_backend_catalog_providers_keycloak_base_url: "{{ base_url | b64encode }}"
    _dh_auth_backend_catalog_providers_keycloak_login_realm: "{{ 'trusted-artifact-signer' | b64encode }}"
    _dh_auth_backend_catalog_providers_keycloak_realm: "{{ 'trusted-artifact-signer' | b64encode }}"
    _dh_auth_backend_catalog_providers_keycloak_client_id: "{{ ocp4_workload_advanced_developer_suite_dh_keycloak_client_id | b64encode }}"
    _dh_auth_backend_catalog_providers_keycloak_client_secret: "{{ ocp4_workload_advanced_developer_suite_dh_keycloak_client_secret | b64encode }}"
  vars:
    base_url: https://sso.{{ _ocp_apps_domain }}

- name: Create keycloak provider vars for user sync
  set_fact:
    _dh_env: >-
      {{ _dh_env | combine(
        {
          'data': {
            'KEYCLOAK_BASE_URL': _dh_auth_backend_catalog_providers_keycloak_base_url,
            'KEYCLOAK_LOGIN_REALM': _dh_auth_backend_catalog_providers_keycloak_login_realm,
            'KEYCLOAK_REALM': _dh_auth_backend_catalog_providers_keycloak_realm,
            'KEYCLOAK_CLIENT_ID': _dh_auth_backend_catalog_providers_keycloak_client_id,
            'KEYCLOAK_CLIENT_SECRET': _dh_auth_backend_catalog_providers_keycloak_client_secret
          }
        }, recursive=True )
      }}

- name: Update developer hub config - set keycloak provider
  set_fact:
    _dh_app_config: >-
      {{ _dh_app_config | combine(
        {
          'catalog': {
            'providers': {
              'keycloakOrg': {
                'default': {
                  'baseUrl': '${KEYCLOAK_BASE_URL}',
                  'loginRealm': '${KEYCLOAK_LOGIN_REALM}',
                  'realm': '${KEYCLOAK_REALM}',
                  'clientId': '${KEYCLOAK_CLIENT_ID}',
                  'clientSecret': '${KEYCLOAK_CLIENT_SECRET}',
                  'schedule': {
                    'frequency': {
                      'minutes': 2
                    },
                    'timeout': {
                      'minutes': 2
                    },
                    'initialDelay': {
                      'seconds': 15
                    }
                  }
                }
              }
            }
          }
        }, recursive=True)
      }}