---
- name: Step 001 Infrastructure
  hosts: localhost
  connection: local
  gather_facts: false
  become: false
  tags:
    - step001
    - infrastructure

  tasks:

    - name: "Step 001 Infrastructure"
      ansible.builtin.debug:
        msg: "Step 001 Infrastructure"

# ----------------------------------------------------------------------
# Infra Workloads as role
# ----------------------------------------------------------------------

- name: Import cloud provider infra playbook if infra_workloads is unset
  ansible.builtin.import_playbook: >-
    {{
      'noop.yml'
      if infra_workloads is defined else
      ('../../cloud_providers/' ~ cloud_provider ~ '_infrastructure_deployment.yml')
    }}

- name: Run host_workloads for infra_workloads
  hosts: localhost
  gather_facts: false
  tasks:
    - debug:
        msg: "{{ infra_workloads is mapping }}"
    - name: Include host_workloads for infra
      vars:
        agnosticd_stage: infra
        host_workloads: "{{ infra_workloads }}"
      ansible.builtin.include_role:
        name: host_workloads

# include global vars again after running infra workloads which may have added hosts.
- import_playbook: >-
    {{
      '../../include_vars.yml'
      if infra_workloads is defined else
      'noop.yml'
    }}
...
