---
- name: Step 003 Pre Software
  hosts: localhost
  gather_facts: false
  become: false
  tags:
    - step004
    - pre_software

  tasks:

    - name: "Step 003 Pre Software"
      ansible.builtin.debug:
        msg: "Step 000 Pre Software"

# ----------------------------------------------------------------------
# Pre-Software Workloads as role
# ----------------------------------------------------------------------

- name: Run host_workloads for pre_software_workloads
  hosts: all:localhost
  any_errors_fatal: true
  gather_facts: false
  tasks:
    - name: Include host_workloads for pre_software
      vars:
        agnosticd_stage: pre_software
        host_workloads: "{{ pre_software_workloads }}"
      ansible.builtin.include_role:
        name: host_workloads
...
