---

- name: Step 004 Software
  hosts: localhost
  connection: local
  gather_facts: false
  become: false
  tags:
    - step004
    - software

  tasks:

    - name: "Software tasks Started"
      ansible.builtin.debug:
        msg: "Software tasks Started"

# ----------------------------------------------------------------------
# Software Workloads as role
# ----------------------------------------------------------------------

- name: Run host_workloads for software_workloads
  any_errors_fatal: true
  hosts: all:localhost
  gather_facts: false
  tasks:
    - name: Include host_workloads for software
      vars:
        agnosticd_stage: software
        host_workloads: "{{ software_workloads }}"
        host_workloads_become: "{{ software_workloads_become }}"
      ansible.builtin.include_role:
        name: host_workloads
...
