- name: Install required system dependencies (RHEL/CentOS)
  ansible.builtin.yum:
    name:
      - libicu
      - openssl-devel
      - libffi-devel
      - python3-devel
      - gcc
      - jq
      - ca-certificates
      - gnupg2
    state: present

- name: Download ARO extension wheel file
  ansible.builtin.get_url:
    url: https://aka.ms/az-aroext-latest
    dest: "{{ output_dir }}/aro-1.0.11-py2.py3-none-any.whl"
    mode: '0644'

- name: Check if ARO extension is already installed
  ansible.builtin.command: /usr/bin/az extension list --query "[?name=='aro'].name" -o tsv
  register: aro_extension_check
  changed_when: false
  ignore_errors: true

- name: Install ARO extension if not already installed
  ansible.builtin.command: >
    /usr/bin/az extension add
    --source "{{ output_dir }}/aro-1.0.11-py2.py3-none-any.whl"
    --yes
  when: "'aro' not in aro_extension_check.stdout"
  register: extension_install
  retries: 3
  delay: 10
  until: extension_install is succeeded

#- name: Set Azure subscription
#  ansible.builtin.command: /usr/bin/az account set --subscription "{{ azure_subscription_id }}"

- name: Register required resource providers
  ansible.builtin.command: "/usr/bin/az provider register -n {{ item }} --wait"
  loop:
    - Microsoft.RedHatOpenShift
    - Microsoft.Compute
    - Microsoft.Storage
    - Microsoft.Authorization

- name: Create token file for ARO installer
  ansible.builtin.copy:
    dest: "{{ output_dir }}/token.txt"
    content: "{{ ocp4_pull_secret }}"

- name: Set deployment variables
  ansible.builtin.set_fact:
    LOCATION: "{{ azure_region }}"
    RESOURCEGROUP: "openenv-{{ guid }}"
    DOMAIN: "aro-{{ guid }}"
    CLUSTER: "aro-cluster-{{ guid }}"
    VERSION: "{{ az_aro_version }}"
    ARO_VNET: "aro-vnet-{{ guid }}"
    PULL_SECRET: "{{ output_dir }}/token.txt"
    ARO_RP_SP_OBJECT_ID: "{{ azrpsp.service_principals[0].object_id }}"

- name: Create resource group
  ansible.builtin.command: >
    /usr/bin/az group create
    --name "{{ RESOURCEGROUP }}"
    --location "{{ LOCATION }}"

- name: Copy Bicep template
  ansible.builtin.copy:
    src: "azuredeploy.bicep"
    dest: "{{ output_dir }}/azuredeploy.bicep"
    mode: '0644'

- name: Create ARO cluster using Bicep
  ansible.builtin.command: >-
    /usr/bin/az deployment group create
    --name aroDeployment
    --resource-group "{{ RESOURCEGROUP }}"
    --template-file "{{ output_dir }}/azuredeploy.bicep"
    --parameters location="{{ LOCATION }}"
    --parameters domain="{{ DOMAIN }}"
    --parameters version="{{ VERSION }}"
    --parameters clusterName="{{ CLUSTER }}"
    --parameters clusterVnetName="{{ ARO_VNET }}"
    --parameters rpObjectId="{{ ARO_RP_SP_OBJECT_ID }}"
    --parameters pullSecret='{{ ocp4_pull_secret | to_json }}'
  register: aro_cluster

- name: Grab the console URL for ARO
  ansible.builtin.command: >
    /usr/bin/az aro show
    --resource-group "{{ RESOURCEGROUP }}"
    --name "{{ CLUSTER }}"
    --query consoleProfile -o tsv
  register: console_url

- name: Set console URL fact
  ansible.builtin.set_fact:
    az_aro4_console_url: "{{ console_url.stdout }}"

- name: Grab the API Server URL for ARO
  ansible.builtin.command: >
    /usr/bin/az aro show
    --resource-group "{{ RESOURCEGROUP }}"
    --name "{{ CLUSTER }}"
    --query apiserverProfile.url
    -o tsv
  register: public_api_url

- name: Set API Server URL fact
  ansible.builtin.set_fact:
    az_aro4_public_api_url: "{{ public_api_url.stdout }}"

- name: Grab ARO domain
  ansible.builtin.command: >
    /usr/bin/az aro show
    --resource-group "{{ RESOURCEGROUP }}"
    --name "{{ CLUSTER }}"
    --query clusterProfile.domain
    -o tsv
  register: aro_domain

- name: Grab ARO location
  ansible.builtin.command: >
    /usr/bin/az aro show
    --resource-group "{{ RESOURCEGROUP }}"
    --name "{{ CLUSTER }}"
    --query location -o tsv
  register: aro_location

- name: Build the ARO reply URL
  ansible.builtin.set_fact:
    az_aro4_reply_url: >-
      "https://oauth-openshift.apps.{{ aro_domain.stdout }}.{{ aro_location.stdout }}.aroapp.io/oauth2callback/AAD"
