---
- name: Create temporary directory for sos report
  ansible.builtin.tempfile:
    path: /var/tmp
    prefix: sosreport-
    state: directory
  become: true
  ignore_errors: true
  register: r_sos_tempdir

- name: Collect sosreport
  when: r_sos_tempdir is successful
  ansible.builtin.command:
    cmd: >-
      sos report --batch --tmp-dir {{ r_sos_tempdir.path }}
  become: true
  ignore_errors: true
  register: r_sos_report

- name: Fetch sos report when successfully generated
  when:
  - r_sos_report is successful
  - r_sos_tempdir is successful
  block:
  - name: Find sos report file name
    ansible.builtin.find:
      paths:
      - "{{ r_sos_tempdir.path }}"
      patterns:
      - ".*\\.tar\\.(gz|xz)$"
      use_regex: true
    become: true
    failed_when: r_find_sosreport.files | length != 1
    register: r_find_sosreport

  - name: Fetch sos report to output_dir
    ansible.builtin.fetch:
      dest: "{{ output_dir }}/"
      flat: true
      src: "{{ r_find_sosreport.files[0].path }}"
    become: true
...
