---

# ----------------------------------------------------------------------
# Pre-destroy Workloads as role
# ----------------------------------------------------------------------
- name: Import Pre destroy workloads
  import_playbook: workloads.yml
  vars:
    _workload_title_: "Pre destroy"
    _workloads_: "{{ pre_destroy_workloads | default([]) }}"


- name: Import default destroy playbook
  import_playbook: ../../cloud_providers/{{cloud_provider}}_destroy_env.yml

- name: Destroy Bookbag
  hosts: localhost
  connection: local
  gather_facts: false
  become: false
  tasks:

  - name: Include role to destroy Bookbag
    when:
    - bookbag_git_repo is defined
    include_role:
      name: bookbag
    vars:
      ACTION: destroy

- name: Delete Showroom
  hosts: localhost
  connection: local
  gather_facts: false
  become: false
  tasks:

    - name: Remove Showroom
      when: showroom_deploy_shared_cluster_enable | default(false) | bool
      vars:
        ACTION: "destroy"
      ansible.builtin.include_role:
        name: ocp4_workload_showroom

# ----------------------------------------------------------------------
# Post-destroy Workloads as role
# ----------------------------------------------------------------------
- name: Import Post destroy workloads
  import_playbook: workloads.yml
  vars:
    _workload_title_: "Post Destroy"
    _workloads_: "{{ post_destroy_workloads | default([]) }}"