- route:
    id: discord-invite
    from:
      uri: "platform-http:/invite/discord"
      steps:
        - setHeader:
            name: Access-Control-Allow-Origin
            simple:
              expression: "*"
        - choice:
            when:
              - simple: '"${properties:discord.event:undefined}" == "undefined"'
                steps:
                  - setBody:
                      simple: '${properties:discord.default}'
            otherwise:
              steps:
                - setBody:
                    simple: '${properties:discord.event:dummy}'

- route:
    id: discord-token
    from:
      uri: "platform-http:/token/discord"
      steps:
        - setHeader:
            name: Access-Control-Allow-Origin
            simple:
              expression: "*"
        - choice:
            when:
              - simple: '"${properties:discord.event.token:undefined}" == "undefined"'
                steps:
                  - setBody:
                      simple: '${properties:discord.default.token}'
            otherwise:
              steps:
                - setBody:
                    simple: '${properties:discord.event.token:dummy}'


- route:
    from:
      uri: timer
      parameters:
        repeatCount: 1
        timerName: load-discord-channels
      steps:
        - filter:
            steps:
              - log:
                  message: Discord TOKEN not defined yet, configure and reboot the pod
              - setVariable:
                  name: global:discord.channels
                  simple:
                    expression: "[]"
              - stop: {}
            simple:
              expression: |
                "${properties:discord.default.token:PENDING_VALUE_DEFINITION}" == "PENDING_VALUE_DEFINITION"
        - setHeader:
            name: Authorization
            simple:
              expression: Bot ${properties:discord.default.token:PENDING_VALUE_DEFINITION}
        - to:
            uri: https
            parameters:
              httpUri: https://discord.com/api/v10/guilds/{{discord.default.guild}}/channels
        - setVariable:
            name: global:discord.channels
            simple:
              expression: ${body}
        - log:
            message: ${variable.global:discord.channels}

- route:
    from:
      uri: platform-http
      parameters:
        path: /configuration/discord/{userid}
      steps:
        - setHeader:
            name: Access-Control-Allow-Origin
            simple:
              expression: "*"
        - setBody:
            simple:
              expression: ${header.userid.replace('user','room')}
        - log:
            message: "call for: ${body}"
        - setVariable:
            name: channel
            jq:
              expression: ".[] | select(.name == body()) | .id "
              source: global:discord.channels
        - setBody:
            simple:
              expression: ${properties:discord.default.token:PENDING_VALUE_DEFINITION},${variable.channel}


- route:
    from:
      uri: timer
      parameters:
        repeatCount: 1
        timerName: test-credentials
      steps:
        - to:
            uri: language:constant:resource:file:/etc/camel/resources.d/_secrets/im-credentials/matrix.json
        - log:
            message: "matrix credentials: ${body}"

- route:
    from:
      uri: platform-http
      parameters:
        path: /credentials/im/{user}
      steps:
        - setHeader:
            name: Access-Control-Allow-Origin
            simple:
              expression: "*"
        - to:
            uri: language:constant:resource:file:/etc/camel/resources.d/_secrets/im-credentials/im_credentials.json
        - setBody:
            jq:
              expression: '.[] | select(.name == header("user")) | .password'


- route:
    from:
      uri: platform-http
      parameters:
        path: /configuration/matrix/{user}
      steps:
        - setHeader:
            name: Access-Control-Allow-Origin
            simple:
              expression: "*"
        - to:
            uri: language:constant:resource:file:/etc/camel/resources.d/_secrets/im-credentials/matrix.json
        - setBody:
            jq:
              expression: '.[] | select(.name == header("user")) | .token + "," + .roomid'


- route:
    from:
      uri: platform-http
      parameters:
        path: /configuration/rocketchat/{user}
      steps:
        - setHeader:
            name: Access-Control-Allow-Origin
            simple:
              expression: "*"
        - to:
            uri: language:constant:resource:file:/etc/camel/resources.d/_secrets/im-credentials/rocketchat.json
        - setBody:
            jq:
              expression: '.[] | select(.name == header("user")) | .token + "," + .userid'


- route:
    id: run-once-test-property
    from:
      uri: timer
      parameters:
        period: "1000"
        repeatCount: 1
        timerName: template
      steps:
        - log:
            message: ${properties:discord.default}

- route:
    id: status
    description: status
    from:
      uri: platform-http
      parameters:
        path: /status
      steps:
        - setHeader:
            name: Access-Control-Allow-Origin
            simple:
              expression: "*"
        - setBody:
            simple:
              expression: ok
        - log:
            message: ${body}
- route:
    id: room-id
    description: Get Room ID
    from:
      uri: platform-http
      parameters:
        path: /roomid/{user}
      steps:
        - setBody:
            simple:
              expression: ${header.user}
        - setHeader:
            name: Access-Control-Allow-Origin
            simple:
              expression: "*"
        - setBody:
            simple:
              expression: ${replace('user','room')}
        - log:
            message: id=${header.id} ${body}

- route:
    id: config-s3
    from:
      uri: platform-http
      parameters:
        path: /configuration/s3/{param1}/{param2}
      steps:
        - setHeader:
            name: Access-Control-Allow-Origin
            simple:
              expression: "*"
        - to:
            uri: language:constant:resource:file:/etc/camel/resources.d/_secrets/im-credentials/s3.json

        - setVariable:
            name: accessKey
            jq: .accessKey

        - setVariable:
            name: secretKey
            jq: .secretKey

        - setBody:
            simple: {}

        - filter:
            simple: ${header.param1} == 'access'
            steps:
              - setBody:
                  simple: ${variable.accessKey}

              - filter:
                  simple: ${header.param2} == 'secret'
                  steps:
                    - setBody:
                        simple: ${body},${variable.secretKey}

        - filter:
            simple: ${header.param1} == 'secret'
            steps:
              - setBody:
                  simple: ${variable.secretKey}

              - filter:
                  simple: ${header.param2} == 'access'
                  steps:
                    - setBody:
                        simple: ${body},${variable.accessKey}