---
# If kubeconfig exists in the output dire then it will be used for access
collect_openshift_must_gather_kubeconfig: kubeconfig
collect_openshift_must_gather_kubeconfig_dir: >-
  {{ output_dir if ansible_connection == 'local' else '/tmp' }}
collect_openshift_must_gather_kubeconfig_path: >-
  {{
    [
      collect_openshift_must_gather_kubeconfig_dir,
      collect_openshift_must_gather_kubeconfig
    ] | ansible.builtin.path_join 
  }}

# If kubeconfig does not exist then it will be generated if the following
# user data values are available.
collect_openshift_must_gather_api_url: >-
  {{ lookup('agnosticd_user_data', 'openshift_api_url')
   | default(lookup('agnosticd_user_data', 'rosa_openshift_api_url'), true)
   | default('', true)
  }}
collect_openshift_must_gather_api_token: >-
  {{ lookup('agnosticd_user_data', 'openshift_cluster_admin_token')
   | default('', true)
  }}
collect_openshift_must_gather_api_ca_cert: >-
  {{ lookup('agnosticd_user_data', 'openshift_api_ca_cert')
   | default('', true)
  }}
...
