---
# - name: Identify OS Image list
#   register: ibmcloud_os_image_list
#   ibm.cloudcollection.ibm_is_images_info:
#     status: available
#     region: "{{ ibmcloud_region }}"

# Use the ibmcloud CLI because it better performs
- name: Identify OS Image
  command: >-
    ibmcloud is images
    --status available
    --all-resource-groups
    --json
  register: r_ibmcloud_os_image_list
  changed_when: false

- set_fact:
    ibmcloud_os_image_list: "{{ r_ibmcloud_os_image_list.stdout | from_json }}"

- name: Create Instances
  loop: "{{ instances| default([]) |agnosticd_expand_instances }}"
  loop_control:
    loop_var: instance
  ansible.builtin.include_tasks: create_instance.yaml
