---
- name: Create Virtual Private Cloud (VPC) network
  register: ibmcloud_vpc_create
  ibm.cloudcollection.ibm_is_vpc:
    name: "{{ ibmcloud_vpc_name }}"
    resource_group: "{{ r_ibmcloud_resource_group_id }}"
    state: available
    region: "{{ ibmcloud_region }}"

- name: Pick an availability zone
  set_fact:
    ibmcloud_availability_zones: >-
      {{ ibmcloud_vpc_create.resource.cse_source_addresses
      | default ([])
      | map(attribute='zone_name')
      | list
      | shuffle }}

- when: ibmcloud_availability_zones | length == 0
  name: Set default availability zone if none found
  set_fact:
    ibmcloud_availability_zones:
      - "{{ ibmcloud_region }}-1"

- name: Set availability zone
  set_fact:
    ibmcloud_availability_zone: "{{ ibmcloud_availability_zones[0] }}"

- name: Create VPC Subnet
  register: ibmcloud_vpc_subnet_create
  ibm.cloudcollection.ibm_is_subnet:
    name: "{{ ibmcloud_vpc_subnet_name }}"
    resource_group: "{{ r_ibmcloud_resource_group_id }}"
    state: available
    vpc: "{{ ibmcloud_vpc_create.resource.id }}"
    total_ipv4_address_count: "64"
    zone: "{{ ibmcloud_availability_zone }}"
    region: "{{ ibmcloud_region }}"

- name: save availability zone to ibmcloud_availability_zone
  set_fact:
    ibmcloud_availability_zone: >-
      {{ ibmcloud_vpc_subnet_create.resource.zone }}
