---
# using the ansible module is too slow, it takes ~20-30s
# name: Create SSH Public Key pair
#   register: ibmcloud_ssh_public_key
#   ibm.cloudcollection.ibm_is_ssh_key:
#     name: "{{ ibmcloud_resource_group_name }}-ssh-key"
#     resource_group: "{{ r_ibmcloud_resource_group_id }}"
#     public_key: "{{ ssh_provision_pubkey_content }}"
#     region: "{{ ibmcloud_region }}"

- name: Create SSH Public Key pair using ibmcloud CLI
  command: >-
    ibmcloud is key-create {{ ibmcloud_resource_group_name }}-ssh-key
    "{{ ssh_provision_pubkey_content }}"
    --key-type {{ ssh_provision_key_type | default('rsa') }}
    --resource-group-name {{ ibmcloud_resource_group_name }}
    --json
  register: r_ibmcloud_ssh_public_key
  until: r_ibmcloud_ssh_public_key is succeeded
  retries: 5
  failed_when: >-
    (r_ibmcloud_ssh_public_key.rc != 0
    and 'already exists' not in r_ibmcloud_ssh_public_key.stderr)
    or 'Incorrect Usage' in r_ibmcloud_ssh_public_key.stdout
  changed_when: >-
    r_ibmcloud_ssh_public_key.rc == 0

- name: Get authoritative details for the SSH Public Key
  command: >-
    ibmcloud is key {{ ibmcloud_resource_group_name }}-ssh-key --output JSON
  register: r_ibmcloud_ssh_public_key_details
  until: r_ibmcloud_ssh_public_key_details is succeeded
  changed_when: false
  retries: 5

- set_fact:
    ibmcloud_ssh_public_key: "{{ r_ibmcloud_ssh_public_key_details.stdout | from_json }}"
