---
- name: Get Virtual Private Cloud (VPC) network
  ibm.cloudcollection.ibm_is_vpc_info:
    name: "{{ ibmcloud_vpc_name }}"
    region: "{{ ibmcloud_region }}"
  ignore_errors: true
  register: r_ibmcloud_vpc


- name: Delete VPC Subnet
  when: r_ibmcloud_vpc is success
  ibm.cloudcollection.ibm_is_subnet:
    name: "{{ item.name }}"
    id: "{{ item.id }}"
    vpc: "{{ r_ibmcloud_vpc.resource.id }}"
    resource_group: "{{ r_ibmcloud_resource_group_id }}"
    state: absent
    region: "{{ ibmcloud_region }}"
  loop: "{{ r_ibmcloud_vpc.resource.subnets }}"

- name: Delete Virtual Private Cloud (VPC) network
  when: r_ibmcloud_vpc is success
  ibm.cloudcollection.ibm_is_vpc:
    name: "{{ ibmcloud_vpc_name }}"
    id: "{{ r_ibmcloud_vpc.resource.id }}"
    resource_group: "{{ r_ibmcloud_resource_group_id }}"
    state: absent
    region: "{{ ibmcloud_region }}"

- name: Get all floating IPs for the resource group {{ ibmcloud_resource_group_name }}
  command: >-
    ibmcloud is floating-ips
    --resource-group-name {{ ibmcloud_resource_group_name }}
    --json
  register: r_ibmcloud_floating_ips
  until: r_ibmcloud_floating_ips is succeeded
  retries: 5
  changed_when: false
  delay: 10

- name: Release all floating IPs for the resource group {{ ibmcloud_resource_group_name }}
  when: _floating_ips | length > 0
  vars:
    _floating_ips: >-
      {{ r_ibmcloud_floating_ips.stdout
      | default('[]')
      | from_json
      | map(attribute='id')
      | list
      }}
  command: >-
    ibmcloud is floating-ip-release --force
    {{ _floating_ips | join(' ') }}
  register: r_ibmcloud_floating_ips_release
  until: r_ibmcloud_floating_ips_release is succeeded
  retries: 5
