---
- name: List all IBM Cloud instances using ibmcloud CLI
  command: >-
    ibmcloud is instances --output JSON
    --resource-group-name "{{ ibmcloud_resource_group_name }}"
  register: r_ibmcloud_instances
  changed_when: false
  until: r_ibmcloud_instances is succeeded
  retries: 5

- set_fact:
    ibmcloud_instances: "{{ r_ibmcloud_instances.stdout | from_json }}"

- name: Start all running instances using ibmcloud CLI
  command: >-
    ibmcloud is instance-start {{ item.id }} --output JSON
  register: r_ibmcloud_start_instances
  until: r_ibmcloud_start_instances is succeeded
  retries: 5
  loop: "{{ ibmcloud_instances }}"
  loop_control:
    label: "{{ item.name }}"
  failed_when: >-
    r_ibmcloud_start_instances.rc != 0
    or 'Incorrect Usage' in r_ibmcloud_start_instances.stdout
