---
- name: List all IBM Cloud instances using ibmcloud CLI
  command: >-
    ibmcloud is instances --output JSON
    --resource-group-name "{{ ibmcloud_resource_group_name }}"
  register: r_ibmcloud_instances
  changed_when: false
  until: r_ibmcloud_instances is succeeded
  retries: 5

- set_fact:
    ibmcloud_instances: "{{ r_ibmcloud_instances.stdout | from_json }}"

- name: Report status in user info
  agnosticd_user_info:
    msg: |-
      {{ "%-20s %-10s %-10s" | format("Instance", "State", "Health") }}
      ----------------------------------------------------------------
      {% for instance in ibmcloud_instances| default([]) %}
      {{ "%-20s %-10s %-10s" | format(instance.name, instance.status, instance.health_state) }}
      {% endfor %}

- name: Print status information to a file
  ansible.builtin.copy:
    dest: "{{ output_dir }}/status.txt"
    content: |-
      {{ "%-20s %-10s %-10s" | format("Instance", "State", "Health") }}
      ----------------------------------------------------------------
      {% for instance in ibmcloud_instances| default([]) %}
      {{ "%-20s %-10s %-10s" | format(instance.name, instance.status, instance.health_state) }}
      {% endfor %}
