---
- name: List all IBM Cloud instances
  ibm.cloudcollection.instance_info:
    region: "{{ ibmcloud_region }}"
  register: r_ibmcloud_instances

- name: Start all stopped instances
  ibm.cloudcollection.instance:
    id: "{{ item['id'] }}"
    state: running
    region: "{{ ibmcloud_region }}"
  with_items: "{{ r_ibmcloud_instances }}"
  when: item['status'] == 'stopped'
